# Riferimento per la regola udev del Pico fan-control.
#
# Questo file NON viene installato dal pacchetto .deb: la regola runtime viene
# generata da "pico-fan setup" in base al seriale del Pico selezionato.
# Percorso runtime: /etc/udev/rules.d/99-pico-fan-device.rules
#
# Esempio della regola generata:
# SUBSYSTEM=="tty", ATTRS{idVendor}=="2e8a", ATTRS{serial}=="SERIALE", \
#     GROUP="dialout", MODE="0660", SYMLINK+="pico-fan"
